<div class='container'>
  <h1>Trânsito SP</h1>

  <% @per_zone_traffic.each do |zone, value| %>
    <section>
      <h2 class='airport-panel'><%= zone_name_for(zone) %></h2>
      <div class='airport-panel'><span class="value"><%= value %></span> <span class="unit">km</span></div>
    </section>
  <% end %>

  <section>
    <h2 class='airport-panel'>Total</h2>
    <div class='airport-panel'><span class="value"><%= @overall_traffic %></span> <span class="unit">km</span></p>
  </section>
</div>