@media (max-width: 900px) {
  .container {
    margin-bottom: 30px;
  }

  h1 {
    font-size: 1em;
  }

  section {
    h2, div {
      font-size: 10px;
      line-height: 22px;
      height: 22px;
    }
  }

  p {
    display: none;
  }
}
